

body {
	background-color: grey;
	color: rgb(30, 30, 30);
	font-family: Courier;
}

h1 {
	color: green;
	font-family: Helvetica;
	letter-spacing: 10px;
}

h2 {
	color: rgb(100, 100, 100);
	font-size: 24px;
	font-weight: lighter;
}
a {
	text-decoration: none;
	color: #6B72E1;
	font-weight:bold;
}
a:hover {
	color: black;
}

